@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Test Remote 2 เครื่อง</h1>
<h1>Test Remote 5 เครื่อง</h1>
<h2>holo</h2>
<h3>team to head</h3>
<p>test ignore file</p>
<p>pull</p>
<h1>Test Fetch</h1>

<h1>Conflicts V3.1</h1>